# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Debug/*
*.user
*.vcxproj.filters
/.vs/*
*.ipch
*.opendb

x64/Debug/vc142.pdb
x64/Debug/vc.nativecodeanalysis.all.xml
x64/Debug/NativeCodeAnalysis.read.1.tlog
x64/Debug/GravitySystem.tlog/link.write.1.tlog
x64/Debug/GravitySystem.tlog/link.read.1.tlog
x64/Debug/GravitySystem.tlog/link.command.1.tlog
x64/Debug/GravitySystem.tlog/GravitySystem.lastbuildstate
x64/Debug/GravitySystem.tlog/CL.write.1.tlog
x64/Debug/GravitySystem.tlog/CL.read.1.tlog
x64/Debug/GravitySystem.tlog/CL.command.1.tlog
x64/Debug/GravitySystem.pdb
x64/Debug/GravitySystem.nativecodeanalysis.xml
x64/Debug/GravitySystem.nativecodeanalysis.sarif
x64/Debug/GravitySystem.log
x64/Debug/GravitySystem.ilk
x64/Debug/GravitySystem.exe.recipe
x64/Debug/GravitySystem.exe.log.dmp
x64/Debug/GravitySystem.exe.log
x64/Debug/GravitySystem.exe.lastcodeanalysissucceeded
x64/Debug/CodeAnalysisResultManifest.txt
Release/vc142.pdb
Release/vc.nativecodeanalysis.all.xml
Release/NativeCodeAnalysis.read.1.tlog
Release/GravitySystem.vcxproj.FileListAbsolute.txt
Release/GravitySystem.tlog/link.write.1.tlog
Release/GravitySystem.tlog/link.read.1.tlog
Release/GravitySystem.tlog/link.command.1.tlog
Release/GravitySystem.tlog/GravitySystem.write.1u.tlog
Release/GravitySystem.tlog/GravitySystem.lastbuildstate
Release/GravitySystem.tlog/CL.write.1.tlog
Release/GravitySystem.tlog/CL.read.1.tlog
Release/GravitySystem.tlog/CL.command.1.tlog
Release/GravitySystem.pdb
Release/GravitySystem.nativecodeanalysis.xml
Release/GravitySystem.nativecodeanalysis.sarif
Release/GravitySystem.log
Release/GravitySystem.ipdb
Release/GravitySystem.iobj
Release/GravitySystem.exe.recipe
Release/GravitySystem.exe.lastcodeanalysissucceeded
Release/CodeAnalysisResultManifest.txt
x64/Debug/esp2BCF.tmp
x64/Debug/esp49C1.tmp
x64/Debug/esp4CD5.tmp
x64/Debug/esp630D.tmp
